<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css" />


<h2 class="amountlabel">Please select the meal and nutrition value to record</h2>
<div class="container bootstrap snippet">
   
            <div class="main-box no-header clearfix">
               
                   
                        <!-- 
                       <div class="dropdown">
                           <button class="dropbtn">Select Meal</button>
                           <div class = "dropdown-content">
                               <a href='#'> Breakfast </a>
                               <a href='#'> Lunch </a>
                               <a href='#'> Dinner </a> 
    </div>
                       </div>
                               -->
                        <form method="post" action="/diet/getMeal">
                      <!--   <p> Please select the Meal: </p>
                            <select name="meal">
                                <option name = "breakfast" value="Breakfast">Breakfast</option>
                                <option name = "lunch" value="Lunch">Lunch</option>
                                <option name = "dinner" value="Dinner">Dinner</option>
                            </select>
                            <br></br> -->
                         <div class="mealType">
                            
                            <ul>
                                <li>
                                      <input type="radio" id = "first" name="meal" value="breakfast" checked>
                                        <label for = "first"> Breakfast </label>
                                         <div class="check"></div> 
                                </li>

                                <li>
                                    <input type="radio" id = "second" name="meal" value="lunch">
                                    <label for = "second"> Lunch </label>
                                     <div class="check"><div class="inside"></div></div>
                                </li>

                                <li>
                                    <input type="radio" id = "third" name="meal" value="dinner">
                                    <label for = "third"> Dinner </label>
                                     <div class="check"><div class="inside"></div></div>
                                </li>
                            </ul>
                        </div>     <!--   <p>Please select the type of food you had: </p>
                                <div class="mealType">
                                    <input type="radio" name="foodType" value="nutritious"> Nutritious <br>

                                    <input type="radio" name="foodType" value="nonnutritious"> Non Nutritious <br>
                                </div> -->
                              <!--  <button id="nut" type="button"> Nutritious</button>
                                <button id="nonnut" type="button"> Non Nutritious</button>
                                <br></br>  -->
                            <div class="slidecontainer">
                                <input type="range" min="1" max="10" value="5" class="slider" name="myRange" oninput="amount.value=myRange.value">
                                <label class="amountlabel" for = "myRange"> Value selected </label>
                                <output class="amount" id="amount" name="amount" for="myRange">5</output>
                            </div>
                             <button id="submit" type="submit"> Submit </button> 
                             <br></br>
                         <!--   {{#if success_msg }}
                                <div class="form-group">
                                    <div class="alert alert-success">
                                        {{ success_msg }}
                                    </div>
                                </div>
                            {{/if}}
                           -->
                        </form>
                    </div>
               
           
        
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!--
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

