<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css" />
<script src="https://unpkg.com/js-datepicker"></script>

<h2 class="amountlabel">Please select the meal and nutrition value to record</h2>
<div class="container bootstrap snippet">

    <div class="main-box no-header clearfix">

        <form method="post" action="/diet/addMeal">
         
            <div class="row">
            <div class="mealType">
               
                    <div class="col"><label class="datelabel">Please select the date </label><input type="text" id="datepicker" name="datepicker" class="date" /></div>
                     
           
                <script>
                    let dateBefore7Days = new Date();
                    dateBefore7Days.setDate(dateBefore7Days.getDate() - 7);
                    const picker = datepicker('#datepicker', { minDate: dateBefore7Days, maxDate: new Date(), dateSelected: new Date() });
                </script>
               
                <ul>
                    <li>
                        <input type="radio" id="first" name="meal" value="breakfast" checked>
                        <label for="first"> Breakfast </label>
                        <div class="check"></div>
                    </li>

                    <li>
                        <input type="radio" id="second" name="meal" value="lunch">
                        <label for="second"> Lunch </label>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>

                    <li>
                        <input type="radio" id="third" name="meal" value="dinner">
                        <label for="third"> Dinner </label>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                </ul>
                
            </div>
           <br/>
            <div class="slidecontainer ">
                <input type="range" min="1" max="10" value="5" class="slider" name="myRange" oninput="rangeoutput.value=myRange.value">
                <br/>
               <div class="col "> <label class="datelabel" for="myRange"> Value selected above </label> <output class="rangeoutput"  id="rangeoutput" name="rangeoutput" for="myRange">5</output>
                </div>
            </div>
             <br/>
           <div class="col ">
                            <label for="weight" class="datelabel">Weight(lbs)- Please update once a day</label><input type="text" size="6"  max="400" class="weightinput" placeholder="weigth"  name="weight" id="weight" pattern="[0-9.]+" minlength="2" maxlength="3" value="{{user.weight}}">
                         </div>

           <!-- <div class="col"><label class="datelabel">Please select the date </label><input type="text" id="datepicker" name="datepicker" /></div>-->
              <br/>         

            <button id="submit" type="submit"> Submit </button>
            <br/>
            <br/>
           
           
        </form>
    </div>



</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
