

<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/bootstrap.css" />


    <div>
    <div class="row">
        <div class="graph" >
                <input type="radio" id="radio1"  name="timeline" value="oneweek" class="timeline" checked> 
               <label for="radio1">last week data </label>
                
                <input type="radio" id="radio2"  name="timeline" value="onemonth" class="timeline"> 
                <label for="radio2">last month data </label>

                <input type="radio" id="radio3" name="timeline" value="sixmonths" class="timeline"> 
                <label for="radio3"> last three months</label>
        </div>
        <div class="alert alert-success" name="error" id="error" hidden>
        <p id="error" >No data found. Start logging data to track your nutrition values!</p>
        </div>
    </div>
    </div>
    <div width=100% display ="absolute" id="chart-location" align="center"></div>
    

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

    <script src="/public/js/fusioncharts.js"></script>
    <script src="/public/js/fusioncharts.charts.js"></script>
    <script src="/public/js/fusioncharts.theme.zune.js"></script>
    <script src="/public/js/fusioncharts_demo.js" charset="utf-8"></script>





